@import "../style.scss";

.CardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.PokemonCard {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 20px;
  box-shadow: 2px 6px 6px 0px black;
  border-radius: 20px;
  &:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
  }
  &__emptyCard {
    position: relative;
    border-radius: 19px;
  }
  &__info {
    position: absolute;
    &__id {
      font-family: $fontTitleCard;
      font-size: $fontHeightCardId;
      text-shadow: 3px 3px 5px yellow, -3px -3px 5px yellow;
      position: absolute;
      width: 50px;
      top: 32px;
      left: 30px;
    }
    &__name {
      font-family: $fontTitleCard;
      font-size: $fontHeightCardTitle;
      text-shadow: 2px 2px 3px yellow, -2px -2px 3px yellow;
      position: absolute;
      top: 32px;
      left: 135px;
    }
    &__photoContainer {
      width: 302px;
      height: 216px;
      position: absolute;
      top: 70px;
      left: 48px;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 254, 182, 1) 35%,
        rgba(243, 255, 0, 1) 100%
      );
      &__photo {
        position: absolute;
        left: 40px;
        bottom: -10px;
        width: auto;
        height: 235px;
      }
    }
    &__triviaTitle {
      position: absolute;
      top: 320px;
      left: 70px;
      font-family: $fontTitleCard;
      text-shadow: 3px 3px 5px yellow, -3px -3px 5px yellow;
      font-size: $fontHeightCardId;
    }
    &__trivia {
      overflow: scroll;
      overflow-x: hidden;
      position: absolute;
      top: 340px;
      width: 320px;
      height: 145px;
      left: 40px;
      text-align: justify;
    }
  }
}
