@import "../style.scss";

.TypeSelector {
  width: 100vw;
  display: flex;
  justify-content: center;
  &__type {
    margin-top: 2vh;
    margin-bottom: 11vh;
    height: 8vh;
    width: 45vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.6vw;
  }
  &__image {
    width: 125px;
    &:hover {
      transform: scale(1.05);
      transition: ease-in-out 0.2s;
    }
  }
}
